// Import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans&display=swap');

// SCSS Variables
$link-color: rgb(134, 46, 134);
$background-color: rgb(241, 229, 229);
$hover-color: rgb(89, 21, 92);

html {
  font-family: 'Open Sans';
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::selection {
  background: $link-color;
  color: rgb(245, 241, 241);
}

header {
  background-color: $background-color;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-bottom: 1px solid $link-color;

  img {
    padding-top: 0.6rem;
    width: 15rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
  }
}

button,
input {
  border-radius: 2000px;
}

.title {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  color: $link-color;
  letter-spacing: 0.2rem;

  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 10%;
    padding-top: 15px;
    border-bottom: 1px solid $link-color;

    @media (max-width: 800px) {
      display: none;
    }
  }
}

.navbar-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 730px) {
    flex-direction: column;
  }
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

#nav-bar {
  ul {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 700px) {
      flex-direction: column;
    }

    li {
      margin: 15px 15px 10px 10px;
      padding: 20px 20px;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0);

      @media (max-width: 700px) {
        margin: 10px auto;
        padding: 0;
      }

      i {
        padding-right: 7px;
        transition: all 0.2s ease-in-out;
      }

      a {
        text-decoration: none;
        color: $link-color;

        &:hover {
          color: $hover-color;
          padding-bottom: 4px;
          border-bottom: 1px solid $link-color;

          i {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}

.hero-email {
  background: rgb(223, 213, 213);
  margin-top: -10px;
  padding: 5rem 10rem;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    #email {
      width: 30%;
      height: 3rem;
      margin-bottom: 10px;
      border: none;
      padding: 10px;
      font-family: Lato;

      @media (max-width: 1000px) {
        width: 15rem;
      }
    }

    #submit {
      color: $link-color;
      font-family: Lato;
      font-size: 1.1rem;
      height: 3rem;
      width: 25%;
      background-color: $background-color;
      border: 1px solid $link-color;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      @media (max-width: 1000px) {
        width: 15rem;
      }

      &:hover {
        font-size: 1.125rem;
        color: $hover-color;
      }
    }
  }

  .intro {
    color: $link-color;
    font-family: Lato;
    font-size: 2.25rem;
    padding-bottom: 10px;
    text-align: center;

    @media (max-width: 750px) {
      display: none;
    }
  }
}

#features {
  background-color: $background-color;
  padding: 3rem;
  scroll-margin: 90px;

  ul {
    text-align: center;
    margin-top: 40px;
    font-size: 1.25rem;

    @media (max-width: 800px) {
      font-size: 1.15rem;
    }

    i {
      margin-right: 20px;
      font-size: 2.25rem;

      @media (max-width: 800px) {
        font-size: 1.25rem;
      }
    }

    a {
      color: $link-color;
      text-decoration: none;
      border-bottom: 1px solid $link-color;

      &:hover {
        color: $hover-color;
      }
    }

    li {
      margin: 2.5rem auto;
    }
  }
}

#how-it-works {
  background: rgb(223, 213, 213);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  scroll-margin: 90px;

  .intro {
    text-align: center;
    font-size: 1.5rem;
    margin: 3rem auto;

    @media (max-width: 500px) {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 1.2rem;
    }

    span {
      color: $link-color;
      font-weight: bold;
    }
  }

  #video {
    @media (max-width: 800px) {
      width: 20rem;
      height: 14rem;
    }
  }
}

#why-privacy {
  background-color: rgb(241, 229, 229);
  text-align: center;
  padding: 8rem;
  font-size: 2rem;

  @media (max-width: 800px) {
    padding: 2rem 1rem;
  }

  blockquote {
    p {
      margin-top: 10px;
      line-height: 3.5rem;

      @media (max-width: 800px) {
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
  }

  footer {
    font-size: 1.3rem;
    margin-top: 20px;
    font-family: Lato;
    font-style: italic;

    a {
      color: $link-color;
      font-size: 1rem;
      background-color: rgb(223, 213, 213);
    }
  }
}

#pricing {
  background-color: rgb(223, 213, 213);
  padding: 2rem;
  scroll-margin: 90px;

  .highlight {
    color: $link-color;
    border-bottom: 1px solid $link-color;
  }

  i {
    margin-right: 5px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 3rem;
  }

  .pricing-box {
    border: 1px solid $link-color;
    padding: 3rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    @media (max-width: 800px) {
      height: 28rem;
    }

    .pricing-header {
      font-family: Lato;
      font-size: 2rem;
      background-color: rgb(202, 189, 189);
      margin-top: -46px;
      margin-left: -46px;
      margin-right: -46px;
      padding: 10px 50px;
      text-align: center;
      border-bottom: 1px solid $link-color;
    }

    #pricing-header-business {
      color: rgb(119, 20, 81);
    }

    .price {
      margin-top: 20px;
      border-bottom: 1px solid $link-color;
      font-size: 1.3rem;
      text-align: center;
      font-family: Lato;
    }

    .plan-features {
      line-height: 2rem;
      margin: 20px auto;
      // border-bottom: 1px solid $link-color;
    }

    .btn-select-plan {
      align-self: center;
      width: 70%;
      height: 2.9rem;
      background-color: rgb(173, 28, 179);
      color: rgb(236, 231, 231);
      font-family: Lato;
      text-transform: uppercase;
      letter-spacing: 3px;
      border: 1px solid $link-color;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: rgb(119, 9, 101);
        cursor: pointer;
        color: rgb(194, 186, 186);
        transform: scale(1.1);
      }
    }

    .btn-business-plan {
      background-color: rgb(97, 58, 189);
      color: rgb(231, 220, 220);

      @media (max-width: 400px) {
        width: 100%;
      }

      &:hover {
        background-color: rgb(93, 8, 133);
        color: rgb(194, 186, 186);
      }
    }
  }
}

#footer {
  padding: 3rem;
  background-color: rgb(241, 229, 229);
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  #copyright {
    color: rgba(0, 0, 0, 0.7);
    margin-top: 15px;
  }

  #logo-credit {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.7rem;

    a {
      text-decoration: none;
      color: unset;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    li {
      margin: 15px;

      a {
        text-decoration: none;
        color: $link-color;

        &:hover {
          color: $hover-color;
          padding-bottom: 4px;
          border-bottom: 1px solid $link-color;
        }
      }
    }
  }
}
