$background-color: rgb(0, 0, 0);
$text-color: white;
$link-color: rgb(14, 216, 14);

// position: sticky doesn't work if parent's overflow is set.
html {
  overflow-x: hidden;
}

html,
body {
  background-color: $background-color;
  color: $text-color;
  scroll-behavior: smooth;
  font-family: monospace;
  font-size: 1.1rem;

  a {
    color: $link-color;
    text-decoration: none;
  }

  ::selection {
    background-color: rgb(0, 0, 0);
    color: $link-color;
  }
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  height: 5rem;
  padding: 1rem;
  background-color: black;
  z-index: 1;
  border-bottom: 1px solid $link-color;

  #main-title {
    font-size: 2.25rem;
    color: rgb(9, 224, 9);
  }

  ul {
    display: flex;
    text-align: right;
    justify-content: space-around;

    li {
      padding: 17px 20px;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;

    #main-title {
      font-size: 1.75rem;
    }

    li {
      font-size: 0.8rem;
    }
  }
}

#welcome-section {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 15rem;

  @media (max-width: 700px) {
    margin-top: 1rem;
    padding: 2rem;
  }

  h1 {
    font-size: 2rem;

    @media (max-width: 700px) {
      font-size: 1rem;
    }
  }

  p {
    margin: 3rem auto;
    opacity: 0.5;
    line-height: 1.8rem;

    @media (max-width: 700px) {
      font-size: 0.8rem;
    }
  }

  pre {
    text-align: left;
    background-color: $background-color;
    opacity: 0.7;
    line-height: 1.5rem;

    a {
      color: unset;
    }
  }

  #json-info {
    display: flex;
    justify-content: center;
    background-color: black;
    font-size: 0.9rem;
    margin-top: 2rem;
    transition: ease 0.6s;

    @media (max-width: 700px) {
      font-size: 0.6rem;
      margin-top: unset;
    }

    #age {
      color: rgb(17, 231, 17);
    }

    #email {
      // color: rgb(17, 231, 17);
      transition: ease 0.6s;
    }

    .json-value {
      opacity: 0.4;
      // color: rgba(0, 255, 0, 0.6);
    }
  }

  .scaled {
    transform: scale(1.1);
  }

  .scaledEmail {
    font-size: 1.1rem;
  }

  .name {
    color: $link-color;
    font-size: 2.1rem;

    @media (max-width: 700px) {
      font-size: 1.2rem;
    }
  }
}

#projects-header {
  text-align: center;
  font-size: 1.8rem;
  scroll-margin: 5rem;
  margin-top: -10rem;

  &:after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 5%;
    padding-top: 15px;
    border-bottom: 1px solid $link-color;
  }

  @media (max-height: 800px) {
    margin-top: 6rem;
  }

  @media (max-width: 700px) {
    font-size: 1.2rem;
    scroll-margin: 8rem;
  }
}

#projects {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10rem 1rem;

  @media (max-width: 700px) {
    padding: 3rem 1rem 2rem 1rem;
  }

  .project-tile {
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: ease-in 0.3s;

      @media (max-width: 700px) {
        margin-top: 3rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    span {
      padding: 2rem 1rem;
      font-size: 1rem;
    }
  }

  img {
    max-width: 400px;
    padding: 1.3rem;
  }
}

footer {
  text-align: center;
  margin-bottom: 1.75rem;
  font-size: 0.85rem;

  #copyright {
    font-size: 0.97rem;
  }

  #footer-name {
    color: $link-color;
  }
}
