@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
  background-color: rgb(218, 208, 208);
  font-family: 'Alata', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

header {
  padding: 2rem 0 0 2rem;
}

main {
  padding: 0 0 1rem 2rem;
}

::selection {
  background-color: #bbb3b3;
}

.username {
  font-size: 2.5rem;
  color: #8721a0;
  display: block;
  margin-bottom: 1rem;
}

.description {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #808080;
  line-height: 1.3rem;
  color: rgb(63, 61, 65);
  padding: 1px 4px;

  &:hover {
    background-color: #cec4c4;
  }

  &:not([href*='vimturtle.github.io']):not([href^='/']):not([href^='#']):not([href*='github.com'])::after {
    content: url(/img/external-link.svg);
  }

  &::after {
    font-size: 0.7rem;
    padding: 0.1rem;
    position: relative;
    bottom: 0.1rem;
  }

  &[href*='github.com']::after {
    content: url(/img/github.svg);
  }
}

h3 > a {
  font-size: 1.1rem;
  color: unset;
}

ul {
  margin-bottom: 1.3rem;

  h3 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  ul {
    margin-left: 1rem;
  }
}

li {
  margin-bottom: 5px;
}
